<div class="mdl-layout__drawer">
  <span class="mdl-layout-title">相關連結</span>
  <nav class="mdl-navigation">
    <a class="mdl-navigation__link" href="https://getmdl.io/components/index.html">Material Design Lite</a>
    <a class="mdl-navigation__link" href="https://github.com/lovenery/rpi-server">Source Code</a>
    <a class="mdl-navigation__link" href="">Link</a>
    <a class="mdl-navigation__link" href="">Link</a>
  </nav>
</div>