.fix {
  position: fixed;
  z-index: 2;
}
#fix-down {
  bottom: 0px;
  right: 60px;
}
#fix-right {
  bottom: 60px;
  right: 0px;
}
#fix-left {
  bottom: 60px;
  right: 120px;
}
#fix-up {
  bottom: 120px;
  right: 60px;
}
#fix-stop {
  bottom: 60px;
  right: 60px;
}