<!DOCTYPE html>
<html>
<head>
    <title>Example</title>
    <meta charset="utf-8">
</head>
<body>
    <h1>Example</h1>
    <p>
        User Agent: <br>
        <%= userAgent %>
    </p>
</body>
</html>