<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Rpi</title>
    <style type="text/css">
        body {
            margin: 0;
            overflow-x: hidden;
        }
    </style>
</head>
<body>
    <p>
        User Agent: <br>
        <%= userAgent %>
    </p>
    <button id="camera">Start/Stop Camera</button>
    <!-- <button id="test">Post Test</button> -->
    <button class="move" value="f">Forward</button>
    <button class="move" value="b">Backward</button>
    <button class="move" value="l">Turn Left</button>
    <button class="move" value="r">Turn Right</button>
    <canvas id="streamCanvas"></canvas>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="js/test.js"></script>
<script src="js/stream.js"></script>
<script type="text/javascript">
    stream_init("<%= stream %>")
    $('.move').click(function () {
        // console.log(this.value, $(this).val())
        let direction = this.value
        let data = { direction }
        $.ajax({
            url: '/move',
            method: 'POST',
            data: data,
            success: function (data) {
                console.log(data)
            },
            error: function (data) {
                console.log(data)
            }
        })
    });
</script>
</body>
</html>