<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Rpi</title>
    <style type="text/css">
        body {
            margin: 0;
        }
    </style>
</head>
<body>
    <p>
        User Agent: <br>
        <%= userAgent %>
    </p>
    <button id="test">Post Test</button>
    <canvas id="streamCanvas"></canvas>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="js/test.js"></script>
<script src="js/stream.js"></script>
<script type="text/javascript">
    init("<%= stream %>");
</script>
</body>
</html>