<!DOCTYPE html>
<html>
<head>
    <title>Rpi</title>
    <meta charset="utf-8">
</head>
<body>
    <p>
        User Agent: <br>
        <%= userAgent %>
    </p>
    <button id="test">Post Test</button>
    <canvas id="streamCanvas"></canvas>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="js/test.js"></script>
<script src="js/stream.js"></script>
</body>
</html>