<div id="fix-down" class="fix">
  <button class="move mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" value="b">
    <i class="material-icons">arrow_downward</i>
  </button>  
</div>

<div id="fix-right" class="fix">
  <button class="move mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" value="r">
    <i class="material-icons">arrow_forward</i>
  </button>
</div>

<div id="fix-left" class="fix">
  <button class="move mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" value="l">
    <i class="material-icons">arrow_back</i>
  </button>
</div>

<div id="fix-up" class="fix">
  <button class="move mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" value="f">
    <i class="material-icons">arrow_upward</i>
  </button>
</div>

<div id="fix-stop" class="fix">
  <button class="move mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" value="s">
    <i class="material-icons">stop</i>
  </button>
</div>